:root {
  --main-color: #e0e0e0;
  --primary-button: #43a047;
  --primary-button-hover: #2f6e32;
  --navbar-footer: #92ad94;
  --card-bg-color: #;
}

/* Header */

.login-container {
  max-width: 400px;
  margin-top: 5rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  display: inline-block;
}
/* Main */

/*.corousel-inner img {
  width: 200px;
}*/
/*.carousel-inner img {
  object-fit: cover;
  }*/
/*.container-fluid {
    height: 90%;
    width: 100%;
    }*/

/*.carousel-inner img {
      height: 100%;
      }*/

/* INICIO PRUEBA DE COLORES */

.main-color {
  background-color: var(--main-color);
}

.single-card {
  background-color: var(--card-bg-color);
}

.navbar-footer {
  background-color: var(--navbar-footer);
}

/* FIN PRUEBA DE COLORES */

/* INICIO COLUMNA 2 */

/* FORMULARIO */

.btn-search {
  color: var(--primary-button);
}
.btn-search:hover {
  color: var(--main-color);
  background-color: var(--primary-button-hover);
}
.form-shadow {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}

/* CATEGORIAS */

.categorias button {
  background-color: var(--primary-button);
  transition: transform 0.3s ease-in-out;
}
.categorias button:hover {
  background-color: var(--primary-button-hover);
  transform: scale(1.1);
}
.categorias button {
  width: 50%;
}

/* ANUNCIO */

.publicidad button {
  background-color: var(--primary-button);
  padding: 10px;
  font-size: 1.2rem;
  width: 50%;
  left: 50%;
  top: 87%;
}
.publicidad button:hover {
  background-color: var(--primary-button-hover);
}

/* FIN COLUMNA 2 */
