:root {
  --main-color: #e0e0e0;
  --primary-button: #43a047;
  --primary-button-hover: #2f6e32;
  --navbar-footer: #92ad94;
}

/* Header */

.login-container {
  max-width: 400px;
  margin-top: 5rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  display: inline-block;
}
/* Main */

/*.corousel-inner img {
  width: 200px;
}*/
/*.carousel-inner img {
  object-fit: cover;
  }*/
/*.container-fluid {
    height: 90%;
    width: 100%;
    }*/

/*.carousel-inner img {
      height: 100%;
      }*/

/* INICIO PRUEBA DE COLORES */

.main-color {
  background-color: var(--main-color);
}

.categorias button {
  background-color: var(--primary-button);
}

.categorias button:hover {
  background-color: var(--primary-button-hover);
}

.single-card {
  background-color: var(--card-bg-color);
}

.navbar-footer {
  background-color: var(--navbar-footer);
}

/* FIN PRUEBA DE COLORES */
